{% extends 'base.html.twig' %}

{% block title %}New Mechanics{% endblock %}

{% block body %}
    <h1>Create new Mechanics</h1>

    {{ include('mechanics/_form.html.twig') }}

    <a href="{{ path('mechanics_index') }}">back to list</a>
{% endblock %}
